.planalto{
    background-image: url(../img/colections.png);
    background-repeat: no-repeat;
    background-size:contain;
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 
        background-image: url(../img/colections.png);
        background-repeat: no-repeat;
        background-size:contain;
    }

    &_item{
        display: inline-block;
        padding: 200px 20px;
    }

    &_img{
        padding-bottom: 50px;
        width: 256px;
        height: 255px;
    }
    &_title{
        width: 255px;
        height: 32px;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #333D4B;
    }
    &_description{
        width: 255px;
        height: 78px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #333D4B;
    }
}